*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.main{
    padding: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
}

.inputAreaMsj{
    background-color: rgb(36, 36, 36);
    text-align: center;
    border: none;
    border-radius: 5%;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inputAreaEnc{
    background-color: rgb(200, 200, 200);
    text-align: center;
    border: none;
    border-radius: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
}

.advertising{
    color: white;
    padding-top: 3em;
}

.containerBtn{
    padding-top: 3em;
    display:flex;
}